@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  background-color: white;
}
*,*::before,*::after{
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  max-width: 1000px;
  margin-inline: 2rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid hsla(0,0,0, 0.5);

}
nav h1{
  font-weight: bold;
}